#content {
  display: grid;
  grid-template-areas:
    "header"
    "todos";
}

#header {
  grid-area: header;
  display: flex;
  position: relative;
}

#header button {
  position: absolute;
  left: 0;
}

#header h1 {
  flex: 1;
  text-align: center;
}

#sidebar {
  grid-area: sidebar;
}

#todo-form {
  display: grid;
  grid-template-areas:
    "project project"
    "title title"
    "description description"
    "date time"
    "priority priority"
    "submit submit";
}

#submit-todo-bttn {
  grid-area: submit;
}

#todo-form #todo-title {
  grid-area: title;
  width: 100%;
}

#title-input {
  width: 100%;
}

#todo-description {
  grid-area: description;
  width: 100%;
}

#description-input {
  width: 100%;
}

#todo-priority {
  grid-area: priority;
}

#add-time-bttn {
  grid-area: time;
}

#todo-time {
  grid-area: time;
}

#todo-list-view {
  grid-area: todos;
}

#new-task-bttn {
  width: 100%;
}

#todo-project {
  grid-area: project;
}

#todo-project-input {
  width: 100%;
}
